:root{
    --primary-color: #543c52;
    --secondary-color: #361d32;
    --title-color: #f55951;
    --text-color: #edd2cb;
    --pale-color: #f1e8e6;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:"Shizuru", Arial;
}

.main{
    background-color: var(--primary-color, "white");
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: var(--text-color, black);
}

.main > a{
    color: var(--text-color, black);
    text-decoration: none;
}

.main > a:visited{
    color: var(--text-color, black);
    text-decoration: none;
}

.main > h1{
    color: var(--title-color, black);
    font-size: 4rem;
    margin-bottom: auto;
}

.container{
    background-color: var(--secondary-color, white);
    height: 80vh;
    width: 80vw;
    display: flex;
    margin-bottom: 3%;
    padding: 20px;
    border-radius: 15px;
}

#ui{
    background-color: var(--secondary-color, white);
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ui > input{
    margin-bottom: 50px;
}

#ui > label{
    color: var(--text-color, "black");
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#grid-slider{
    -webkit-appearance: none;
    width: 16vw;
    height: 2vh;
    background-color: var(--pale-color, white);
    outline: none;
    opacity: 0.7;
    border-radius: 10px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#grid-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: var(--title-color, black);
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
}

#grid-slider:hover{
    background-color: var(--text-color, white);
}

#ui > .ui-button{
    color: var(--text-color, "black");
    background-color: var(--primary-color, "white");
    width: 7vw;
    height: 4.5vh;
    border-radius: 5px;
    border: none;
}

#ui > .ui-button:hover{
    box-shadow: 0px 0px 5px 5px rgba(241, 232, 230, 0.50);
    transform: scale(1.1);
}

#ui > .ui-button:active{
    transform: scale(1);
}

#grid{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    height: 100%;
    width: 70%;
}